@model SportStatistics.Models.Sport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Delete</h2>

<div class="sport-delete">
    <h3 class="myValid2">Are you sure you want to delete this?</h3>
    <label class="mTitle">Sport</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            Name Sport:
        </dt>
        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>
    </dl>
    <br class="clear" />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="myButtonDelete" /> 
            <b> | </b>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
        </div>
    }
</div>
