@model SportStatistics.Models.Sport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Details</h2>

<div class="sport-delete">
    <label class="mTitle">Sport</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.NameSportString)
        </dt>
        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>
    </dl>
    <br class="clear" />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SportId }, new { @class = "myLinkBack" })
        <b> | </b>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
    </p>
</div>
