@model IEnumerable<SportStatistics.Models.Sport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Table of all Sports</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "myLink2" })
</p>
<table class="table">
    <tr>
        <th>
            Name Sport
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Display("Name Sport")
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.SportId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SportId })
        </td>
    </tr>
}

</table>
