html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.myHeader {
    background-color: darkkhaki;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid black;
}

.nav {
    background-color: goldenrod;
    width: 100%;
    height: 8%;
}
.nav ul {
    margin: 0;
}
.nav li {
    margin: 0;
    float:left;
    width: 150px;
}

.myFooter {
    background-color: darkgoldenrod;
    width: 100%;
    height: 15%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.section {
    background-color: #faebd7;
    width: 100%;
    height: 65%;    
    margin: 0;
    overflow: auto;
}
.section a:hover {
    text-decoration: underline;    
}
.section a:visited {
    color: blue;
    text-decoration: none;
}

.title {
    margin: 0;
    padding-top: 20px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    margin: 0;
}

/*---------------grid (table)----------------*/
.table {
    background-color: white;
    border: solid;
    width: 90%;
    min-width: 900px;
    font-size: 1.3em;
    text-align: center;
    margin-left: 5%;
}
    .table td, th {
        border: 1px solid #98BF21;
        padding: 3px 7px 2px;
    }

.header {
    background-color: aqua;
    color: crimson;
}
.table td {
    padding: 3px 7px 2px;
    color: brown;
    background-color: aliceblue;
}
.alt-row {
    background-color: azure;
    padding: 3px 7px 2px;
}
.footer {
    background-color: aquamarine;
}
/*---------------grid END----------------*/


/*-------------------MENU (layout)---------------------*/

.nav-bar {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 12px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 3px 3px 2px black;
  -webkit-box-shadow: 3px 3px 2px black;
  -moz-box-shadow: 3px 3px 2px black;
  background: #8B8B8B;
  background: linear-gradient(top,  #A6A95A,  #7A7A7A);
  background: -ms-linear-gradient(top,  #A6A95A,  #7A7A7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#A6A95A), to(#7A7A7A));
  background: -moz-linear-gradient(top,  #A6A95A,  #7A7A7A);
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
}
    .nav-bar li {
        text-align: center;
        min-width: 160px;        
        margin: 0px 0px 0px 0px;
        padding: 0px 5px 0px 5px;
        float: left;
        position: relative;
        list-style: none;
    }
.nav-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 22px;
  color: #E7C18F;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-shadow: 2px 2px 3px #000000;
}
.nav-bar li ul li a {
  text-align: left;
  margin: 0;
}
.nav-bar .active a, .nav-bar li:hover > a {
  background: #D41515;
  background: linear-gradient(top,  #FFFFFF,  #969696);
  background: -ms-linear-gradient(top,  #FFFFFF,  #969696);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#969696));
  background: -moz-linear-gradient(top,  #FFFFFF,  #969696);
  color: #044F10;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #7A7D22;
}
.nav-bar ul li:hover a, .nav-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.nav-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #BFBC69,  #80877B) !important;
  background: -ms-linear-gradient(top,  #BFBC69,  #80877B) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#BFBC69), to(#80877B)) !important;
  background: -moz-linear-gradient(top,  #BFBC69,  #80877B) !important;
  color: #851E12 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 1px 1px 1px #171717;
}
.nav-bar li:hover > ul {
  display: block;
}
.nav-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #9E9E9E);
  background: -ms-linear-gradient(top,  #FFFFFF,  #9E9E9E);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#9E9E9E));
  background: -moz-linear-gradient(top,  #FFFFFF,  #9E9E9E);
  display: none;
  margin: 0;
  padding: 0;
  min-width: 260px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 2px #B4B4B4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
.nav-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
.nav-bar ul a {
  padding:10px 0px 10px 15px;
  color:#2D3B96 !important;
  font-size:16px;
  font-style:normal;
  font-family:arial;
  font-weight: bold;
  text-shadow: 1px 1px 1px #E6FFE7;
}
.nav-bar ul li:first-child > a {
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
}
.nav-bar ul li:last-child > a {
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
}
.nav-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.nav-bar {
  display: inline-block;
}
  html[xmlns] .nav-bar {
  display: block;
}
* html .nav-bar {
  height: 1%;
}

.nav-bar > li:nth-child(4){
    width: 260px;
}

.caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}
/*-------------------MENU END (layout)---------------------*/

/*-------------------myTable----------------------*/
.myTable {
    font-family: "Times New Roman", Times, serif;
    border: 3px solid #A49E85;
    background-color: #F7F7DF;    
    width: 96%;
    margin-left: 2%;
    margin-bottom: 40px;
    text-align: center;
    border-collapse: collapse;
}
    .myTable td, th {
        border: 2px solid #AA991A;
        padding: 3px 10px;
    }
    .myTable tbody td {
        font-size: 18px;
        color: #28A666;
    }
    .myTable tr:nth-child(even) {
        background: #A0F5DB; 
    }

    .myTable tbody tr:hover {
        background-color: gold;
    }
    .myTable tbody a:visited{
        /*color: black;*/
    }
.myTableHeader {
    background: #A4A187;
    background: -moz-linear-gradient(top, #bbb8a5 0%, #adaa93 66%, #A4A187 100%);
    background: -webkit-linear-gradient(top, #bbb8a5 0%, #adaa93 66%, #A4A187 100%);
    background: linear-gradient(to bottom, #bbb8a5 0%, #adaa93 66%, #A4A187 100%);
    border-bottom: 2px solid #32442D;
}
    .myTableHeader th {
        font-size: 23px;
        font-weight: bold;
        color: #FF1EAA;
        text-align: center;
        border-left: 2px solid #A40000;
    }
        .myTableHeader th:first-child {
            border-left: none;
        }        

.myTableFooter {
    font-size: 18px;
    font-weight: bold;
    color: #6B5D27;
    background: #4beff1;
    border-top: 3px solid #230C44;
}
    .myTableFooter td {
        font-size: 18px;
        text-align: center;
    }
    .myTableFooter > td {
        padding-top: 4px;
    }
        .myTableFooter > td > a {
            background-color: #28A453;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 3px 8px;
            
            outline: none;
        }
            .myTableFooter > td > a:hover {
                background-color: crimson;
                color: black;
            }
            
.myTableImage {
    background-size: contain;
    max-height: 250px;
}
.myTable a:hover {
    text-decoration: underline;    
}
.myTable td > a:visited {
    color: blue; 
    text-decoration: none;
}
.myTable td:nth-child(11) > a:visited {
    color: black; 
    text-decoration: none;
}
.myTable td:nth-child(3) > a:visited {
    color: black; 
    text-decoration: none;
}

/*-----------------------Link-----------------------*/
a{
   text-decoration: none;
}

.link-W, .link-D, .link-L {
    color: black;
    background-color: green;
    border: 1px solid #969696;
    box-shadow: 1px 1px 1px black, -1px 1px 1px black;    
    text-decoration: none;        
    display: block;
    float: left;
    width: 22px;   
}

.link-W:visited, .link-D:visited, .link-L:visited{
    color: black;
}
.link-W:hover, .link-D:hover, .link-L:hover{
    color: black;
    border: 1px solid black;
}
.link-D {
    background-color: gray;
}
.link-L{
    background-color: crimson;
}

.count {
    float: left;
    width: 25px;
    text-align:center;
}

/*-----------------------Match View-------------------*/

.sectionL {
    width: 50%;
    float: left;
    text-align: right;
    font-size: 16px;
    color: blueviolet
}
.sectionL label {
    margin-right: 2%;
}

.sectionR {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 16px;
    color: blueviolet
}
.sectionR label {
    margin-left: 2%;
}

.half {
    width: 50%;
    float: left;
    text-align: center;
}
.half label {
    font-size: 26px;
    color: darkblue;
}

.mTitle {
    font-size: 35px;
    text-align: center;
    color: darkgoldenrod;
    font-weight: bold;
}
.mTitle div {
    float: left;
}
.mTitle div:nth-child(1){
    width: 20%;
}
.mTitle div:nth-child(2){
    width: 60%;
}
.mTitle a {
    color: darkgoldenrod; 
}
.mTitle a:visited {
    color: darkgoldenrod;
}

.mInfo {
    clear: left;
    text-align: center;
    font-size: 18px;
}
.mInfo a{
    text-decoration: underline; 
}
.mInfo a:visited{
    text-decoration: underline; 
}

.mInfo label:nth-child(2n + 1) {
    color: blue;
}
.mInfo label:nth-child(2n) {
    color: darkred;
}

.mH {
    text-align: center;
    color: brown;
    font-size: 32px;
}
/*---------------------End Match View-------------------*/

/*----------------------Add Data View-------------------*/

.add-obj {
    font-size: 20px;    
    margin-top: 20px;
    border-bottom: 2px solid black;
    width: 60%;
    height: 85px;
    margin-left: 20%;
    border-bottom-color: darkgreen;
    padding-bottom: 5px;
}

/*--------------------End Add Data View-------------------*/

.image {
    width: 100%;
    height: 487.5px;    
    background-image: url(/images/icon/404.jpg);
    background-size: cover;
    background-position: center;    
    text-align: center;
    color: red;
    font-size: 50px;
}

.icon {
    background-image:url(/images/icon/Ball-icon.png);
    background-size: 35px;
    background-repeat:no-repeat;
    background-position: top;
    margin-top: -9px;
    display: block;
    width: 35px;
    height: 35px;
    float: left;
}

.icon-uefa {
    background-image: url(/images/icon/UEFA.png);
    background-repeat: no-repeat;
    background-size: 30px;
    display: block;
    height: 30px;
    width: 30px;
    float: left;
}

.icon-la-liga, .icon-copa, .icon-la-sc, 
.icon-PL, .icon-cl, .icon-fc, .icon-sc {
    background-image: url(/images/icon/La-LigaB.jpg);
    background-size: 35px;
    height: 35px;
    width: 35px;
    display: block;
    float: right;
}

.icon-copa {
    background-image: url(/images/icon/Copa.png);
}
.icon-sc {
    background-image: url('/images/icon/English super cup.gif');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-fc {
    background-image: url(/images/icon/FA-cup.png);
}
.icon-PL {
    background-image: url(/images/icon/PL2.jpg)
}

.icon-cl {
    background-image: url(/images//icon/Eng-cup.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-la-sc {
    background-image: url(/images/icon/supercopa.png);
}

#loadingDiv {
    display: none;
}