
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index cl-winner">
    <h1>Champions League Winner</h1>
</div>
<div class="index pl-winner">
    <h1>Premier League Winner</h1>
</div>
<div class="index la-winner">
    <h1>La-Liga Winner</h1>
</div>
<div class="index">
    <div class="index-a">
        <h1>The Best Player in the Year</h1>
    </div>
    <div class="index-b">
        <h1>Te Best Scorer in the Year</h1>
    </div>
</div>